@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 100%;
    min-height: 100vh;
    background: url('/images/background2x.png') no-repeat center center/cover;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.loginContainer {
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    border-radius: 26px;
    max-width: 440px;
    height: 604px;
    border: none;
    margin-bottom: 0;
    padding: 2.5rem;
}

.inputGroup label {
    color: #A7ABB6;
    font-size: 0.75rem;
    font-weight: 300;
}

.inputGroup input {
    border-radius: 0 !important;
    border: solid 1px #A7ABB6;
}

.btnPrimary {
    background-color: #01A039 !important;
    border: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: medium;
}

.olvidarPassword {
    color: #01A039 !important;
    font-size: 0.8rem;
    transition: color 0.2s;
    padding-top: 2.5rem;
}

.olvidarPassword:hover {
    color: #01A039 !important;
}

.loginContainer p {
    color: #A7ABB6 !important;
    font-size: small !important; 
}


h2 {
    color: #005C20 !important;
    font-size: 34px;
    font-weight: 600;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* Ajustes responsive */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
        gap: 2rem;
        height: auto;
        padding: 1rem;
        background-attachment: fixed;
    }

    .loginContainer {
        flex-direction: column;
        width: 440px;
        max-width: 100%;
        transform: none;
        margin: 0;
        max-height: 550px;
    }

    .olvidarPassword {
        padding-top: 0.5rem !important;
    }

    h2 {
        font-size: 28px;
    }
}

