
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 90px;
  z-index: 10;
  position: relative;
  padding: 0 20px;
}

.layoutPrimaryNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 2px;
}

.searchInput {
  padding: 8px 12px;
  border: 1px solid #f0f0f0;
  width: 900px;
  min-width: 200px;
  background-color:#f0f0f0;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userDetails {
  text-align: right;
}

.name {
  font-weight: bold;
  font-size: 14px;
}

.role {
  font-size: 12px;
  color: #666;
}

.userInfoWrapper {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-width: 150px;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

.dropdown button {
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f5f5f5;
}

.logout {
  color: red;
}

.btnTopBar {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 8px 12px !important;
}

.btnTopBar i {
  padding-top: 0.5rem;
  margin-right: 0.75rem !important;
  margin-bottom: 0.5rem;
}