.layoutPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: 90px;
  align-items: center;
}

.bodyContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.primaryNav {
  width: 70px;
  background-color: #1d1f25;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebarToggleWrapper {
  position: absolute;
  top: 80px;
  left: 295px;
  transition: left 0.3s ease;
  z-index: 100;
}

.mainContent {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #f9f9f9;
}
