.primaryNav {
    position: relative;
    z-index: 2;
  }
  
  .tooltip {
    position: absolute;
    left: 60px; /**/
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 9999;
    pointer-events: none;
  }
  